@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

code {
  display: inline-block;
  padding: 5px;
  border-left: 2px solid purple;
  background: whitesmoke;
}

a {
  font-style: italic;
  color: darkblue;
}
